<div class="container">

    <h2>Events list</h2>
    <hr>
    <div class="row">
        {{#each events}}
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <h3>{{title}}</h3>
                <h4>{{gameName}}</h4>
                <div class="card-body">
                    <h5 class="card-title">{{address}}</h5>

                    {{!-- {{#if isLogged}} --}}

                    <a href="/events/details/{{id}}" class=" btn btn-outline-success">Event details</a>

                    {{!-- {{/if}} --}}

                    {{!-- {{/if}} --}}


                </div>
            </div>
        </div>
        {{/each}}

        <figure id="myMap"></figure>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/event-map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCz8RHbRw95QurDWj-8mJT1YBBOTToR_zs&callback=init"></script>