<h2>Create event</h2>
<hr>
<div class="row justify-content-center mt-5">

    <div class="col-4">

        {{!-- border border-2 border-dark rounded --}}
        {{!-- took the border out until we know how to add margin on it --}}

        <form action="/events/create/{{game.id}}/{{game.name}}" method="post">


            <div class="inputBox mb-3 mb-4">
                <label for="Title" class="form-label">Title</label>
                <input type="text" class="form-control" id="Title" name="title">

            </div>

            <div class="inputBox mb-3 mb-4">
                <label for="game" class="form-label">Game</label>
                <input type="text" class="form-control" id="game" name="gameInfo" value="{{game.name}}">
            </div>

            <div class="inputBox mb-3 mb-4">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description">
            </div>

            <div class="inputBox mb-3 mb-4">
                <label for="Date" class="form-label">Date</label>
                <input type="datetime-local" class="form-control" id="Date" name="date">
            </div>

            <div class="inputBox mb-3 mb-4">
                <label for="Location" class="form-label">Location</label>
                <input type="text" class="form-control" id="Location" name="location">
            </div>

            <button type="submit" class="btn btn-dark ">Create</button>

        </form>

    </div>

</div>