<div class="container">

    <h2>Events list</h2>
    <hr>
    <div class="row">
        {{#each events}}
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <h3>{{title}}</h3>
                <h4>{{gameName}}</h4>
                <div class="card-body">
                    <h5 class="card-title">{{location}}</h5>

                    {{!-- {{#if isLogged}} --}}

                    <a href="/events/details/{{id}}" class=" btn btn-outline-success">Event details</a>

                    {{!-- {{/if}} --}}

                    {{!-- {{/if}} --}}


                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>