<h1>Login</h1>

<div class="row justify-content-center mt-5">

    <div class="col-4">

        {{!-- took the border out until we know how to add margin on it --}}

        <form action="/login" method="post">

            <div class="inputBox mb-3 mb-4">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>

            <div class="inputBox mb-3 mb-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>

            {{#if errorMessage}}
            <p id="error">{{errorMessage}}</p>
            {{/if}}

            <div class="inputBox mb-3 mb-4">
                <p> Don't have an account yet?
                    <a href="/signup">Sign up </a>
                </p>
            </div>


            <button type="submit" class="btn btn-dark ">Login</button>

        </form>

    </div>

</div>