<h1>Sign Up</h1>

<div class="row justify-content-center mt-5">

    <div class="col-4">

        {{!-- border border-2 border-dark rounded --}}
        {{!-- took the border out until we know how to add margin on it --}}


        <form action="/signup" method="POST" enctype="multipart/form-data">

            <div class="inputBox mb-3 mb-4">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username">
                {{!-- <div class="form-text">Your super cool gamer name </div> --}}
            </div>

            <div class="inputBox mb-3 mb-4">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description">
                {{!-- <div class="form-text">Game preferences and wharever</div> --}}
            </div>

            <div class="inputBox mb-3 mb-4">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email">
                {{!-- <div class="form-text">Example: cool-kid@boardmasters.com</div> --}}
            </div>

            <div class="inputBox mb-3 mb-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
                {{!-- <div class="form-text">Be wise</div> --}}
            </div>

            <div class="inputBox mb-3 mb-4">
                <label for="profilePicture" class="form-label">Profile picture</label>
                <input type="file" class="form-control" id="profilePicture" name="profilePicture">
                {{!-- <div class="form-text">Pretty and smart... wow</div> --}}
            </div>

            <button type="submit" class="btn btn-dark ">Subscribe</button>

        </form>

    </div>

</div>