<div class="container">

    <div class="main-information">

        <h1 class="title"> Board Master</h1>

        <h2 class="product-callout"> Your super cool board game management platform </h2>

        <br>

        <br>

        <h3 class="product-features"> Discover board games. Add your friends. Start your party! </h3>

        <br>

        <a href="/games/categories" class="call-to-action"> Start exploring </a>

    </div>

</div>