<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

   <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="menu">

      <div class="container-fluid">

         <div class="ms-3 mt-3 mb-3">

            <ul class="navbar-nav">

               {{!-- <a class="navbar-brand" href="#">
                  <img src="./../images/MASTER.png" alt="" width="50" height="24">
               </a> --}}

               <li class="nav-item">
                  <a class="nav-link active" href="/">Home</a>
               </li>

               <li class="nav-item">
                  <a class="nav-link active" href="/games/categories">Explore</a>
               </li>

               <li class="nav-item">
                  <a class="nav-link active" href="/community">Community</a>
               </li>

               <li class="nav-item">
                  <a class="nav-link active" href="/events">Events</a>
               </li>

               <li class="nav-item">
                  <form action="/games/search" method="post" class="d-flex ms-3">
                     <input class="form-control me-2" type="search" id="searcher" name="gameName"
                        placeholder="Game Name" aria-label="Search">
                     <button class="btn btn-outline-light" type="submit">Search</button>
                  </form>
               </li>

            </ul>

         </div>

         {{#if isLogged}}

         <div class="col-6 d-flex justify-content-end add-margin-right">

            <ul class="navbar-nav">

               <li class="nav-item ">
                  <a class="nav-link active" href="/users/profile/{{isLogged._id}}">My Profile</a>
               </li>

               <li class="nav-item ">
                  <a class="nav-link active" href="/logout">Log Out</a>
               </li>

            </ul>

         </div>

         {{/if}}

         {{#unless isLogged}}

         <div class="col-6 d-flex justify-content-end add-margin-right">

            <ul class="navbar-nav">

               <li class="nav-item ">
                  <a class="nav-link active" href="/login">Log In</a>
               </li>

               <li class="nav-item ">
                  <a class="nav-link active" href="/signup">Sign Up</a>
               </li>

            </ul>

         </div>

         {{/unless}}

      </div>

   </nav>

   <div class="container">
      {{{body}}}
   </div>

   <script src="/js/script.js"></script>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
      </script>
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</body>

<footer class="footer fixed-bottom"> Developed by Isabella Paiva and Nacho Sanson</footer>