/* ----------- [ALL PAGES] -----------  */

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 120px;
  margin-bottom: 100px;
  /* background-color: #1fa3f0; */
  /* background-image: url(../images/games-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat; */
}

img {
  width: 100%;
}

#menu {
  background-color: black;
}

footer {
  background-color: black;
  color: white;
  padding: 25px;
  text-align: center;
}

#container {
  margin-left: 0px;
}

/* ----------- [HOME PAGE] -----------  */

div.main-information {
  /* background-color: black;
  color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15vh
}

h1.title {
  font-size: 175px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 3000;
}

h2.product-callout {
  text-align: center;
  font-size: 50px;
  margin: 0px;
}

h3.product-features {
  text-align: center;
}

a.call-to-action {
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  padding: 15px;
  border-radius: 25px
}

/* ----------- [NAVIGATION] -----------  */

a {
  color: #1fa3f0;
}

h2 {
  color: 15px;
  text-align: center;
}

#inputBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  /* padding-top: 50px; */
}

#pageTitle {
  text-align: left;
}

#form-text {
  font-size: 10px;
}

/* ----------- [USER] -----------  */

/* personal information */

#userSection {}

#userInformation {
  display: flex;
  flex-direction: row;
}

#userCard {
  border: none;
}

/* how to make an circular avatar picture?  */
#userAvatar {
  width: 15em;
  height: 15em;
  object-fit: cover;
}

#userHeader {
  background: none;
  border: none;
  width: 20em;
  height: 20em;
}

#userBody {
  font-size: 1.5em;
}

/* how to put buttons right next to each other?  */

#buttonsBoxes {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* games information  */

/* friends information  */

#friendSection {}

#userInformation {}

#friendCard {
  border: none;
}

#friendAvatar {
  width: 10em;
  height: 10em;
  object-fit: cover;
}

#friendHeader {
  background: none;
  border: none;
}

#friendBody {}

/* events information  */

/* ----------- [GAMES] -----------  */

/* ----------- [games categories] -----------  */

#categoryLabels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  text-align: center;
  height: 10rem;
  width: 10rem;
}

/* ----------- [games list] -----------  */

#gamesSection {}

#gamesInformation {}

#gameCard {
  border: none
}

#gameHeader {
  background: none;
  border: none;
  height: 20em;
  /* background-color: black; */
}

#gameCover {
  height: 90%;
  width: 90%;
  object-fit: contain;
}

#gameBody {}

/* ----------- [COMUNITY] -----------  */

#gameLinks {
  text-decoration: none;
  color: white;
}

#myMap {
  height: 600px;
  background-color: red;
}

/* [ FOR REFERENCE]

* {
  margin: 0px;
  padding: 0px
}

 tags {
  color: blue
}

.classes {
  color: red;
}

#ids .classes {
  color: red;
}

ul li a {
  text-decoration: none;
  color: purple;
}

*/