/* ----------- [ALL PAGES] -----------  */

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 120px;
  margin-bottom: 100px;
  /* background-color: wheat */
  background-image: url(../images/gamesbar5-background.webp);
  background-size: cover;
  background-attachment: fixed;
}

img {
  width: 100%;
}

#menu {
  background-color: black;
}

footer {
  background-color: black;
  color: white;
  padding: 25px;
  text-align: center;
}

#container {
  margin-left: 0px;
}

/* ----------- [HOME PAGE] -----------  */

div.main-information {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 15px;
}

h1.title {
  color: white;
  font-size: 10em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 3000;
}

h2.product-callout {
  color: white;
  text-align: center;
  font-size: 3em;
  margin: 0px;
}

h3.product-features {
  color: white;
  text-align: center;
  font-size: 2em;
}

a.call-to-action {
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  padding: 15px;
  border-radius: 25px
}

/* ----------- [NAVIGATION] -----------  */

a {
  color: #1fa3f0;
}

h2 {
  color: 15px;
  text-align: center;
}

#inputBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: white
    /* padding-top: 50px; */
}

#pageTitle {
  text-align: left;
  color: white;
  font-weight: bold
}

#form-text {
  font-size: 10px;
}

/* ----------- [USER] -----------  */

/* personal information */

#userSection {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

#userInformation {
  display: flex;
  flex-direction: row;
}

#userAvatar {
  width: 15em;
  height: 15em;
  object-fit: cover;
}

#userHeader {
  background: none;
  border: none;
  width: 20em;
  height: 20em;
}

#userBody {
  font-size: 1.5em;
}

#buttonsBoxes {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* games information  */

/* friends information  */

#friendCard {
  border: none;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

#friendAvatar {
  width: 10em;
  height: 10em;
  object-fit: cover;
}

#friendHeader {
  background: none;
  border: none;
}

/* events information  */

#eventCard {
  /* border: none; */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* ----------- [GAMES] -----------  */

#categoryLabels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  height: 10rem;
  width: 10rem;
}

#gameLinks {
  text-decoration: none;
  color: white;
}

#gamesSection {}

#gamesInformation {}

#gameCard {
  /* background-color: rgba(0, 0, 0, 0.9); */
  /* color: white; */
  background-color: white;
}

#gameHeader {
  border: 0;
  height: 20em;
}

#gameCover {
  height: 90%;
  width: 90%;
  object-fit: contain;
}

#gameBody {}

#gameDetails {
  max-width: 150vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

#gameImageDetailed {
  padding-top: 4vh;
}

/* ----------- [COMUNITY] -----------  */

/* ----------- [EVENTS] -----------  */

#eventDetails {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

#eventBody {}

#myMap {
  height: 600px;
}

#map {
  height: 400px;
}

/* [ FOR REFERENCE]

* {
  margin: 0px;
  padding: 0px
}

 tags {
  color: blue
}

.classes {
  color: red;
}

#ids .classes {
  color: red;
}

ul li a {
  text-decoration: none;
  color: purple;
}

*/