<h2 id="pageTitle">All game categories</h2>

<div class="row row-cols-6 mt-5">

    {{#each categories}}

    <div class="mb-5">

        <div class="card" id="categoryLabels">

            <a id="gameLinks" href="/games/list/{{id}}/{{name}}">

                <div class="card-body">

                    <h5 class="card-title">{{name}}</h5>

                </div>

            </a>

        </div>

    </div>

    {{/each}}

</div>